:root {
    --size: 50px;
    --hover-color: #d1d1d1;
    --square-color: #f1f1f1;
}

body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls {
    display: flex;
    gap: 10px;
}

.button {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--square-color);
}

.button:hover {
    background-color: var(--hover-color);
}