:root {
    --size: 50px;
    --hover-color: #d1d1d1;
    --square-color: #f1f1f1;
}

body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--square-color);
}

.button:hover {
    background-color: var(--hover-color);
}

#board {
    display: grid;
}

.cell {
    background-color: var(--square-color);
    cursor: pointer;
    height: var(--size);
    width: var(--size);
    margin: 5px;
}