/* class : header, container */

body {
    font-family: Arial;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

.header h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
}

.page {
    padding: 20px;
}

.container h2 {
    font-size: 28px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}


.container ul {
    background-color: #afafaf;
    border-radius: 10px;
    padding: 20px;
    padding-left: 40px;
}

#email {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

#email:hover {
    text-decoration: underline;
}